﻿@model TranscriptApp.Web.Areas.Admin.Models.AddFeeSetupViewModel

@{
    ViewBag.Title = "Add Fee Setup";
}

<div class="card">
    <div class="card-header">
        <h2>Add Fee Setup</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="Session" class="form-control">
                        <option value="">-- Select Session --</option>
                        @if (ViewBag.Sessions != null)
                    {
                        foreach (var Session in ViewBag.Sessions)
                        {
                            <option value="@Session.Id">@Session.ValueText</option>
                    }
                }
                    </select>
                    @*@Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FeeType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="FeeType" class="form-control">
                        <option value="">-- Select Fee Type --</option>
                        @if (ViewBag.FeeTypes != null)
                    {
                        foreach (var FeeType in ViewBag.FeeTypes)
                        {
                            <option value="@FeeType.Id">@FeeType.ValueText</option>
                    }
                }
                    </select>
                    @*@Html.EditorFor(model => model.FeeType, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.FeeType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="Amount" class="form-control">
                        <option value="">-- Select Amount --</option>
                        @if (ViewBag.Amounts != null)
                    {
                        foreach (var Amount in ViewBag.Amounts)
                        {
                            <option value="@Amount.Id">@Amount.ValueText</option>
                    }
                }
                    </select>
                    @*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-info" />
                </div>
            </div>
        </div>
}
    </div>
</div>