﻿
@{
    ViewBag.Title = "Index";
}

<style>
    .card-body {
        padding: 50px 10px !important;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="text-info">Welcome to Transcript Manager</h2>
        </div>
    </div>
</div>

