﻿@model IEnumerable<TranscriptApp.Web.Areas.Admin.Models.ManageFeeSetupViewModel>
@{
    ViewBag.Title = "ManageFeeSetup";
}

<style>
    .default-section {
        padding: 50px 10px;
    }
</style>

<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>


<script type="text/javascript">
    let jqXHRData;
    let jqueryVersion = $.noConflict(true);
    jqueryVersion(document).ready(() => {
        jqueryVersion("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

    });
</script>

@if (Model != null && Model.Count() > 0)
{
    <div class="card">
        <div class="card-header">
            <h2 class="text-info">Manage Fee Setup</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped" id="myTable">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Fee Type</th>
                    <th>Amount</th>
                    <th>Session</th>
                    <th>Is Activated</th>
                </tr>
            </thead>
            <tbody style="color:black;">
                @{int N = 0; }
            @foreach (var item in Model)
             {

                <tr>
                    @{ N += 1; }
                    <td>@N</td>
                    <td>@Html.DisplayTextFor(model => item.FeeType)</td>
                    <td>@Html.DisplayTextFor(model => item.Amount)</td>
                    <td>@Html.DisplayTextFor(model => item.Session)</td>
                    <td>
                        @if (item.IsActivated)
                        {
                            <input type="checkbox" value="@item.IsActivated.ToString()" checked onclick="ToggleFeeStatus(@item.FeeSetupId, @item.IsActivated.ToString().ToLower())"/>
                        }
                        else
                        {
                            <input type="checkbox" value="@item.IsActivated.ToString()" onclick="ToggleFeeStatus(@item.FeeSetupId, @item.IsActivated.ToString().ToLower())"/>
                        }
                    </td>
                </tr>
             }
           </tbody>
        </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body default-section text-center">
            <i class="fa fa-trash fa-10x text-danger"></i>
            <h3 class="text-danger">No Fee Details Can be displayed at this time</h3>
        </div>
    </div>
}

<script type="text/javascript">
    function ToggleFeeStatus(feeDetailId, status) {

        $.ajax({
                type: 'POST',
                dataType: "json",
                url: '@Url.Action("ModifyFeeDetail", "AdminHome")',
                //traditional: true,
                data: { FeeDetailId: feeDetailId, FeeDetailStatus: status },
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });
    }
</script>
