﻿@model IEnumerable<TranscriptApp.Web.Areas.Admin.Models.ViewTranscriptRequestsViewModel>

@{
    ViewBag.Title = "ViewTranscriptRequests";
}

<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>


<script type="text/javascript">
    let jqXHRData;
    let jqueryVersion = $.noConflict(true);
    jqueryVersion(document).ready(() => {
        jqueryVersion("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

    });
</script>

@if (Model != null && Model.Count() > 0)
{
    <div class="card">
        <div class="card-header">
            <h2>View Transcript Requests</h2>
        </div>
        <div class="card-body"  style="overflow-x: scroll;">
            <table class="table table-bordered table-hover table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Gender</th>
                        <th>Level</th>
                        <th>Programme</th>
                        <th>Department</th>
                        <th>Fee Type</th>
                        <th>Destination Address</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="color:black;">
                    @{int N = 0; }
                    @foreach (var item in Model)
            {

                <tr>
                    @{ N += 1; }
                    <td>@N</td>
                    <td>@Html.DisplayTextFor(model => item.FullName)</td>
                    <td>@Html.DisplayTextFor(model => item.Email)</td>
                    <td>@Html.DisplayTextFor(model => item.PhoneNumber)</td>
                    <td>@Html.DisplayTextFor(model => item.Gender)</td>
                    <td>@Html.DisplayTextFor(model => item.Level)</td>
                    <td>@Html.DisplayTextFor(model => item.Programme)</td>
                    <td>@Html.DisplayTextFor(model => item.Department)</td>
                    <td>@Html.DisplayTextFor(model => item.FeeType)</td>
                    <td>@Html.DisplayTextFor(model => item.DestinationAddress)</td>
                </tr>
    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body default-section text-center">
            <i class="fa fa-trash fa-10x text-danger"></i>
            <h3 class="text-danger">No Trasncript Requests Can be displayed at this time</h3>
        </div>
    </div>
}

