﻿@model TranscriptApp.Web.Models.ViewInvoiceViewModel

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<div class="container">
    <div class="row">
        <div class="card col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="card-header">
                <h2 class="hide-away">View Invoice</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7">
                        <img class="img-circle " src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" />
                        <address>
                            <strong>Nnamdi azikiwe University, Akwa, Anambra State. </strong>

                        </address>

                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 text-left" style="padding-left: 0;">
                        <p>
                            <b>@Model.Person</b>
                        </p>
                        <p>
                            <em>Date:<b> @Model.DateCreated.ToLongDateString()</b></em>
                        </p>
                        <p>
                            <em>RRR Number #: <b>@Model.RRR</b></em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer hide-away">
                <button class="btn btn-info" id="printBtn">Print</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //method for printing
    document.querySelector("#printBtn").addEventListener("click", () => {
        $(".hide-away").css("display", "none");
        window.print();
    })

    window.addEventListener("click", () => $(".hide-away").css("display", "block"));
</script>