﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="../../../../cdn-cgi/apps/head/8jwJmQl7fEk_9sdV6OByoscERU8.js"></script>
    <link rel="apple-touch-icon" href="~/Content/ico/60.png">
    @*<link rel="apple-touch-icon" sizes="76x76" href="~/Content/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/ico/152.png">*@
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/Content/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="~/Content/css/themes/light.css" rel="stylesheet" type="text/css" />

    <style>
        :root {
            --site-info: #0B80E9;
        }

        .page-container .page-content-wrapper {
            background: #F6F9FA;
        }

        nav.page-sidebar {
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            background: #0080ff; /* fallback for old browsers */
            /*background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);*/ /* Chrome 10-25, Safari 5.1-6 */
            /*background: linear-gradient(to bottom, #2F80ED, #56CCF2);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        
        .header {
            border-bottom: 1px solid #0B80E9;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
        }

        .card {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
        }

        #card-title {
            color: #0B80E9 !important;
        }

        #info-bg {
            background: #0B80E9 !important;
        }


        .page-sidebar a, .page-sidebar a:hover, .page-sidebar button {
            color: #fff;
        }

            .page-sidebar a:visited, .page-sidebar button:visited, .page-sidebar a:focus, .page-sidebar button:focus {
                color: #fff;
            }

        .page-sidebar .sidebar-menu .menu-items > li:hover {
            background: rgba(0,0,0,.3);
            color: #000;
            transition: 2s;
        }

        .page-sidebar .sidebar-menu .menu-items li:hover > a, .page-sidebar .sidebar-menu .menu-items li.open > a, .page-sidebar .sidebar-menu .menu-items li.active > a {
            color: #000;
            left: 10px;
            transition: 1s;
        }

        .card-title h4 {
            color: #0B80E9;
        }

        .card-body {
            border-top: none !important;
        }

        .form-group {
            border: none !important;
        }

        .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
            display: none;
            list-style: none;
            clear: both;
            margin: 0 0 10px;
            background-color: #056dd1 !important;
            padding: 18px 0 10px;
        }

        .page-sidebar .sidebar-menu .menu-items li:hover > a, .page-sidebar .sidebar-menu .menu-items li.open > a, .page-sidebar .sidebar-menu .menu-items li.active > a {
            color: #fff;
            left: 10px;
            transition: 1s;
        }

        .logoutForm {
            color: #e8e8e8;
            padding-left: 22px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-top: 1px solid #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="header ">

        <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
        </a>

        <div class="">
            <div class="brand inline">
                <a href="Home/Transcript">
                    <img src="~/Content/img/logo.png" alt="logo" data-src="~/Content/img/logo.png"
                         data-src-retina="~/Content/img/logo_2x.png"
                         width="78"
                         height="22">
                </a>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none m-l-20">
                <a href="@Url.Action("Index", "Security", new { Area = "Security" })">
                    <span class="thumbnail-wrapper d32 circular inline">
                        <img src="/Content/Images/default_avatar.png" alt="" data-src="/Content/Images/default_avatar.png" data-src-retina="/Content/Images/default_avatar.png" width="32" height="32">
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Transcript Manager V1 <a href="http://lloydant.com" target="_blank" style="color:#333">Powered By Lloydant</a></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plotly")
    @*<script src="~/Scripts/plotly.min.js"></script>*@
    @RenderSection("scripts", required: false)


</body>
</html>
