﻿@model TranscriptApp.Web.Models.ViewInvoiceViewModel

@{
    ViewBag.Title = "Generate Receipt";
}

<style>
    .card {
        margin-top: 50px;
    }
</style>
    <div class="card">
        <div class="card-header">
            <h2>Generate Receipt</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p class="text-info">Plaese Enter your <span class="text-danger">RRR Number</span> to Generate Receipt</p>
                <label for="rrr-number" class="control-label col-md-2">RRR Number</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="RRR" />
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-info" />
                </div>
            </div>
        </div>
            }
        </div>
    </div>
