﻿@model TranscriptApp.Model.Model.ProcessRemitaPaymentViewModel

@{
    ViewBag.Title = "Process Remita Payment";
}

@if (TempData["Message"] != null)
{
    <div class="row">
        @Html.Partial("_Message", (TranscriptApp.Model.Model.Message)TempData["Message"])
    </div>
}
<div>
    Processing... <span><img src="~/Content/Images/bx_loader.gif" /></span>
</div>

<form id="form1" action="https://login.remita.net/remita/ecomm/init.reg" name="SubmitRemitaForm" method="POST">
    <input type="hidden" value="@Model.RemitaPayerName" name="payerName" id="payerName" />
    <input type="hidden" value="@Model.RemitaPayerEmail" name="payerEmail" id="payerEmail" />
    <input type="hidden" value="@Model.RemitaPayerPhone" name="payerPhone" id="payerPhone" />
    <input type="hidden" value="@Model.RemitaOrderId" name="orderId" id="orderId" />
    <input type="hidden" value="@Model.RemitaMerchantId" name="merchantId" id="merchantId" />
    <input type="hidden" value="@Model.RemitaServiceTypeId" name="serviceTypeId" id="serviceTypeId" />
    <input type="hidden" value="@Model.RemitaResponseURL" name="responseurl" id="responseurl" />
    <input type="hidden" value="@Model.RemitaAmount" name="amt" id="amt" />
    <input type="hidden" value="@Model.RemitaHash" name="hash" id="hash" />
    <input type="hidden" value="@Model.PaymentType" name="paymenttype" id="paymenttype" />
</form>

