﻿@model TranscriptApp.Web.Models.TranscriptRequestViewModel

@{
    ViewBag.Title = "Transcript";
}

<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />

<style>
    .container {
        margin-top: 50px;
    }

    .address-textbox {
        width: 100% !important;
        resize: none !important;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>

<script type="text/javascript">
    let jqXHRData;
    let jqueryVersion = $.noConflict(true);
    jqueryVersion(document).ready(() => {
        jqueryVersion("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

    });
</script>

@*<div id="chart" style="width: 500px; height: 200px;"></div>*@
<section class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-info" id="card-title">Transcript Request Form</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("OpenTranscriptRequest", "Home", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MatricNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MatricNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MatricNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 15px;">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.MatricNumber != null)
    {
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.MatricNumber)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OtherName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OtherName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtherName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DestinationLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.DestinationLocation, new { htmlAttributes = new { @class = "form-control address-textbox" } })
                                @Html.ValidationMessageFor(model => model.DestinationLocation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="Gender" class="form-control">
                                    <option value="">-- Select Gender --</option>
                                    @if (ViewBag.Genders != null)
                                    {
                                        foreach (var gender in ViewBag.Genders)
                                        {
                                            if (gender.Id == Model.Gender)
                                            {
                                                <option value="@gender.Id" selected>@gender.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@gender.Id">@gender.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @*@Html.EditorFor(model => model.Programme, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.Programme, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Programme, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="Programme" class="form-control">
                                    <option value="">-- Select Programme --</option>
                                    @if (ViewBag.Programme != null)
                                    {
                                        foreach (var programme in ViewBag.Programme)
                                        {
                                            if (programme.Id == Model.Programme)
                                            {
                                                <option value="@programme.Id" selected>@programme.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@programme.Id">@programme.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @*@Html.EditorFor(model => model.Programme, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.Programme, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="Level" class="form-control">
                                    <option value="">-- Select Level --</option>
                                    @if (ViewBag.Levels != null)
                                    {
                                        foreach (var level in ViewBag.Levels)
                                        {
                                            if (level.Id == Model.Level)
                                            {
                                                <option value="@level.Id" selected>@level.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@level.Id">@level.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @*@Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DestinationCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="DestinationCountry" class="form-control">
                                    <option value="">-- Select Destination Country --</option>
                                    @if (ViewBag.Countries != null)
                                    {
                                        foreach (var country in ViewBag.Countries)
                                        {
                                            if (country.Id == Model.DestinationCountry)
                                            {
                                                <option value="@country.Id" selected>@country.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@country.Id">@country.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @*@Html.EditorFor(model => model.DestinationCountry, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.DestinationCountry, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="Department" class="form-control">
                                    <option value="">-- Select Department --</option>
                                    @if (ViewBag.Departments != null)
                                    {
                                        foreach (var department in ViewBag.Departments)
                                        {
                                            if (department.Id == Model.Department)
                                            {
                                                <option value="@department.Id" selected>@department.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@department.Id">@department.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @*@Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="RequestType" class="form-control">
                                    <option value="">-- Select Request Type --</option>
                                    @if (ViewBag.FeeType != null)
                                    {
                                        foreach (var FeeType in ViewBag.FeeType)
                                        {
                                            if (FeeType.Id == Model.RequestType)
                                            {
                                                <option value="@FeeType.Id" selected>@FeeType.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@FeeType.Id">@FeeType.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @*@Html.EditorFor(model => model.RequestType, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.RequestType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="text-danger">Select Your Courier of choice (Optional)</p>
                            @Html.CheckBoxFor(model => model.IsCourierEnabled, htmlAttributes: new { @id = "toggle-select-courier" })
                        </div>

                        <div class="form-group" id="select-courier" style="display: none;">
                            @Html.LabelFor(model => model.Courier, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="Courier" class="form-control">
                                    <option value="">-- Select Courier Service --</option>
                                    @if (ViewBag.DeliveryServices != null)
                                    {
                                        foreach (var courier in ViewBag.DeliveryServices)
                                        {
                                            if (courier.Id == Model.Courier)
                                            {
                                                <option value="@courier.Id" selected>@courier.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@courier.Id">@courier.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.Programme, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="State" class="form-control">
                                    <option value="">-- Select State --</option>
                                    @if (ViewBag.States != null)
                                    {
                                        foreach (var state in ViewBag.States)
                                        {
                                            if (state.ValueCode == Model.State)
                                            {
                                                <option value="@state.ValueCode" selected>@state.ValueText</option>
                                            }
                                            else
                                            {
                                                <option value="@state.ValueCode">@state.ValueText</option>
                                            }
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        if (Model.EarlierTranscripts != null && Model.EarlierTranscripts.Count() > 0)
        {
            <div class="card" style="margin-top: 15px;">
                <div class="card-header">
                    <h3>Earlier Requests By You</h3>
                </div>
                <div class="card-body" style="overflow-x:scroll">
                    <!--Section to hold earlier transcript requests-->
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-bordered table-hover table-striped" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Programme</th>
                                        <th>Level</th>
                                        <th>Country</th>
                                        <th>Department</th>
                                        <th>Fee Type</th>
                                        <th>Destination Address</th>
                                        <th>Date</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody style="color:black;">
                                    @for (int i = 0; i < Model.EarlierTranscripts.Count; i++)
                                    {
                                        var currentReq = Model.EarlierTranscripts[i];
                                        <tr>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].MobileNumber)</td>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].Email)</td>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].Programme)</td>
                                            <td>@Html.DisplayFor(model => model.Level)</td>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].Country)</td>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].Department)</td>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].RequestType)</td>
                                            <td>@Html.DisplayFor(model => model.EarlierTranscripts[i].RequestDetination)</td>
                                            <td>@Model.EarlierTranscripts[i].DateCreated.ToString()</td>
                                            <td>
                                                @Html.ActionLink("Print Invoice", "ViewInvoice", "Home", new { payId = Model.EarlierTranscripts[i].PaymentId }, new { @class = "btn btn-info", @target = "_blank" })
                                            </td>
                                            <td>
                                                @Html.ActionLink("Generate Receipt", "GenerateRecipt", "Home", new { payId = Model.EarlierTranscripts[i].PaymentId }, new { @class = "btn btn-success", @target = "_blank" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#toggle-select-courier").on("click", () => {
            $("#select-courier").fadeIn("slow");
        })
    </script>
}
